@model Course
<!--Yazdığımız Models içerisinden Course modeline erişmeyi sağlar. Üstteki kısmın yanına herhangi bir yorum satırı yazıldığı zaman derleme sırasında hata veriyor.-->

<div>
    <h1 style="font-size: xx-large; text-align: center;">Course Index Page</h1>
    <p>
        Id: @Model.Id
    </p>
    <p>
        Title: @Model.Title
    </p>
</div>