<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        @await Html.PartialAsync("_Navbar")
        <!--Üstteki kullanım navbar dosyamızı kodumuzun içine aktarabilmek içindir.-->
        @RenderSection("Header", false)
        <!--Bu kısıma özgü sadece render yapabilmek için Header ismi ile isimlendirdik ve default'unu da false yaptık bu sayede sadece kullanmak istediğimiz alana section girerek oraya özgü Header'in ayrıca renderlanmasını sağlamış.-->
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>

